.float-button {
    position: relative;
}

.popup {
    width: 200%;
    padding: 1em;
    border-radius: 6px;
    height: fit-content;
    box-shadow: var(--defaul-shadow);
    color: var(--gray-200);
    top: calc(100% + 1em);
    position: absolute;
    font-size: .6em;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
    z-index: -1;
    animation: bounce 4s;
}

.popup.error {
    background-color: rgba(245, 101, 101, .9);
}

.popup.info {
    background-color: rgba(66, 153, 225, .9);
}

@keyframes bounce {
    0% {
        z-index: 2;
        transform: scale(0);
    }
    12% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
    90% {
        opacity: 1;
    }
    100% {
        z-index: 2;
        opacity: 0;
    }
}
