@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.App {
    --blue-100: #EBF8FF;
    --blue-200: #BEE3F8;
    --blue-300: #90CDF4;
    --blue-400: #63B3ED;
    --blue-500: #4299E1;
    --blue-600: #3182CE;

    --gray-100: #f7fafc;
    --gray-200: #edf2f7;

    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;

    --green-300: #9AE6B4;
    --green-400: #68D391;
    --green-500: #48BB78;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Amatic SC", cursive;
    font-size: calc(10px + 1vmin);
    background-color: var(--gray-100);
    min-height: 95vh;
    padding-bottom: 5vh;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: var(--blue-400);
    margin-bottom: calc(20px + 2vmin);
}

.App-header > h1, p {
    margin: 0.1em
}

.App > main {
    width: 90%;
    max-width: 1200px;
}

.styledDrop {
    border: 4px dashed var(--blue-200);
    border-radius: 6px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue-400);
    height: 20em;
}

.styledDrop:hover {
    cursor: pointer;
    border-color: var(--blue-300);
    color: var(--blue-500);
}

.styledDrop[drag=true] {
    border-color: var(--blue-400);
}

.styledDrop[drag=true] > p {
    font-size: calc(20px + 2vmin);
}

.styledDrop > p {
    line-height: 2em;
    font-size: calc(10px + 2vmin);
}

.file-list {
    font-family: Roboto, sans-serif;
    list-style: none;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2em 10%
}

.file-list > li {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.file-list > li:not(:last-child) {
    margin-bottom: 1em;
}

.file-list > li > .left, .file-list > li > .float-button {
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1em;
    display: flex;
    align-items: center;
}

.file-list > li > .left {
    display: flex;
    flex-grow: 1;
    word-break: break-all;
    justify-content: flex-start;
    transition: all .2s;
    position: relative;
    z-index: 1;
}

.file-list > li > .left:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    z-index: -1;
    border-radius: 6px;
    transition: width .1s linear;
    background-color: var(--blue-300);
}


.float-button {
    color: black;
    background-color: var(--gray-200);
    flex-shrink: 0;
    justify-content: center;
    padding: 1em;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.file-list > li > .float-button {
    margin-left: 1em;
}

.float-button:hover {
    background-color: var(--gray-100);
    cursor: pointer;
}

.float-button[bg=red] {
    background-color: var(--red-500);

}

.float-button[bg=red]:hover {
    background-color: var(--red-400);
}

.float-button[bg=blue] {
    background-color: var(--blue-500);

}

.float-button[bg=blue]:hover {
    background-color: var(--blue-400);
}

.float-button[bg=green] {
    background-color: var(--green-500);

}

.float-button[bg=green]:hover {
    background-color: var(--green-400);
}

.float-button[bg] {
    color: white;
}


.flat-button {
    font-size: calc(20px + 2vmin);
    color: var(--blue-400);
    padding: .25em .5em;
    /*border-radius: 6px;*/
    border-bottom: 1px solid var(--blue-400);
    width: fit-content;
    margin: auto;
    transition: transform .1s, color .1s, border-color .1s;
}

.flat-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--blue-500);
    border-color: var(--blue-500);

}

.percent-progress {
    color: var(--blue-300);
    margin-left: 1em;
    width: 3em;
    align-self: center;
    text-align: center;
}


.toast {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: var(--green-400);
    color: white;
    /*z-index: -1;*/
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    font-size: calc(10px + 2vmin);
    position: fixed;
    bottom: 32px;
    right: 32px;
    transform: translateY(200%);
    transition: transform .25s;
}

.toast.show {
    transform: translateY(0);
}
